# Python virtual environments
venv/
**/__pycache__/
# Logs
data_pipeline/logs/
# Database files
data_pipeline/database/
# Flutter build outputs
frontend/build/
# Flutter dependencies
frontend/.dart_tool/
frontend/.idea/
pegasus/build/
# Flutter dependencies
pegasus/.dart_tool/
pegasus/.idea/
backend/audio_files/2025/06/29/audio_20250629_192948_7d067ead.m4a
backend/audio_files/2025/06/29/audio_20250629_192954_a09691e5.m4a
backend/audio_files/2025/06/29/audio_20250629_193040_ac0c0e9a.m4a
backend/*.env
*.env
